<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contador_Luz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @* <link rel="stylesheet" href="~/css/site.css" /> *@
    <link rel="stylesheet" href="~/css/styles.css"/>
    <link rel="stylesheet" href="/css/grid.css">
    <link rel="stylesheet" href="/css/results.css">
    <link href="https://fonts.googleapis.com/css2?family=Antic+Slab&family=Cabin:ital@1&family=Lemonada:wght@300&family=PT+Serif:ital@1&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="#" class="hover">Administrar Locales</a>
                </li>
                <li>
                    <a href="#" class="hover" >Consultar</a>
                </li>
            </ul>
        </nav>
    </header>

    <div >
            @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Danbeac 2020 - Contador Luz - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
