@{
    ViewData["Title"] = "Program";
}

 <section class="section-second">
        <div class="section-last-month">
            <h4>Mes anterior</h4>
            <table>
                <tr>
                    <td class="title-labels">Label Local 1</td>
                    <td class="title-labels">Label Local 2</td>
                </tr>
                <tr>
                    <td class="values-labels">lbl cantidad  vatios</td>
                    <td class="values-labels">lbl cantidad vatios</td>
                </tr>
            </table>
        </div>
    </section>

    <section class="section-third">
        <div class="middle-wraps">
            <h4>Mes actual</h4>
            <table>
                <tr>
                    <td class="modify-td">Acumulado Contador local 1</td>
                    <td> <input type="text"> </td>
                </tr>
                <tr>
                    <td class="modify-td">Acumulado Contador local 2</td>
                    <td> <input type="text"> </td>
                </tr>
                <tr>
                    <td class="modify-td">Vatios Consumidos</td>
                    <td> <input type="text"> </td>
                </tr>
                <tr>
                    <td class="modify-td">Valor Vatio $</td>
                    <td> <input type="text"> </td>
                </tr>
            </table>
        </div>
        <div class="middle-wraps">
            <h4>Subsidio</h4>
            <table class="table-subsidio">
                <tr>
                    <td class="modify-td-sub">Valor $</td>
                    <td> <input type="text"> </td>
                </tr>
                <tr>
                    <td class="modify-td-sub">Label Local 1</td>
                    <td> <input type="text"> </td>
                </tr>
                <tr>
                    <td class="modify-td-sub">Label Local 2</td>
                    <td> <input type="text" > </td>
                </tr>
            </table>
        </div>
    </section>

    <section class="section-button">
        <input type="button" value="Generar">
    </section>