@{
    ViewData["Title"] = "Resultados";
}

<div class="wrapper-result">
        <div class="wrapper-labels">
            <div class="row">
                <div class="col-6">
                    <label>Fruteria</label>
                </div>
                <div class="col-6">
                    <label>Pizzeria</label>
                </div>
            </div>
        </div>
        <div class="wrapper-values">
            <div class="row">
                <div class="col-3">
                    <img src="/img/pesos.png" alt="">
                </div>
                <div class="col-3">
                    <label for="">$25000</label>
                </div>
                <div class="col-3">
                    <img src="/img/pesos.png" alt="">
                </div>
                <div class="col-3">
                    <label for="">$25000</label>
                </div>
            </div>
        </div>
        <div class="wrapper-benefit">
            <div class="row">
                <div class="col-4">
                    <label for="">%50</label>
                </div>
                <div class="col-4 ">
                    <label for="">Subsidio: $50000</label>
                </div>
                <div class="col-4">
                    <label for="">%50</label>
                </div>
            </div>
        </div>
    </div>