*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f1f1f1  ;
}

header{
    border-radius: 2px;
    width: 100%;
    height: 50px;
    background-color:#303641 ;
}

header nav {
    display: flex;
    justify-content: flex-start;
    height: inherit;
}

header nav ul {
    display: flex;
    width: 300px;
    height: inherit;
    list-style: none;   /*Quita los bullets*/
    justify-content: center;
    align-items: center;
}

header a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    height: inherit;
    padding: 8px 10px; 
    margin: 20px;
    border: 1px solid rgb(17, 10, 3);
    border-radius: 4px;
    /* font-family: 'PT Serif', serif; */
    font-family: 'Cabin', sans-serif;
    /* background-color:  */
    background-color:   #c72515  ;
    color:rgba(255,255,255,1) ;
}

header a:hover{
    background-color: rgba(255,175,75,1);
    color: rgba(76,76,76,1);
    box-shadow: 0 1px 6px rgb(226, 143, 9);
}

.section-second{
    display: flex;
    justify-content: center;
    width: inherit;
    height: 250px;
}

.section-last-month{
    border-radius:4px ;
    box-shadow: 0 3px 6px #303641;
    display: flex;
    justify-content: center;
    width: 30%;
    border: 1px solid #303641;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.section-last-month:hover{
    box-shadow: 0 1px 6px   #17199f  ;
}


section .section-last-month h4{
    margin: 15px;
    font-size: 27px;
    height: 20%;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
} 

.section-last-month table{
    width: 100%;
    height: 65%;
    font-size: larger; 
}

.section-last-month table td{
    padding: 25px;
}

.section-last-month .title-labels{
    padding: 0 50px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
}

.section-second .values-labels{
    padding: 0 50px;
}

.section-third{
    width: inherit;
    height: 350px;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.section-third .middle-wraps{
    border: 1px solid #303641;
    width: 40%;
    margin: 10px 50px;
    border-radius:4px ;
    box-shadow: 0 3px 6px #303641;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.section-third .middle-wraps:hover{
    box-shadow: 0 1px 6px #17199f ;
}

.section-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 200px;
}

.section-button button{
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
    padding: 20px 60px;
    border-radius: 2em;
    background-color: #243F5B;
}

.section-button button:hover{
    color: rgb(239, 247, 245);
    box-shadow: 0 4px 10px rgb(109, 117, 115) ;
    border: 1px solid rgb(109, 117, 115);
}

 .section-third h4{
    margin: 15px;
    font-size: 27px;
    height: 15%;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
} 


.middle-wraps table{
    width: 100%;
    height: 60%;
    margin-bottom: 30px;
}

.middle-wraps .table-subsidio{
    width: 100%;
    height: 50%;
    margin-bottom: 50px;
}

.middle-wraps .modify-td{
    padding: 15px 40px;
    width: 300px;
}

.middle-wraps table td input{
    width: 100px;
    height: 30px;
    border-radius: 1.5em;
    border-radius: 7px;
    font-size: 20px;
    padding-left: 20px;
}

.table-subsidio .modify-td-sub{
    padding-left: 70px;
    width: 260px;
}

footer{
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    margin-right: 20px;
}